/*  your css code here. If applicable */
body{
	background:#f6f6f6;
	dispay:flex;
	justify-content:center;
}
#left{
	width:450px;
	margin-top:70px;
	display:inline-block
}
form{
	display:flex;
	width:300px;
	background:white;
	padding:20px;
	border-radius:5px;
	box-shadow:0 0 10px #ccc;
	flex-direction:column;
	gap:10px;
}
id
{
	border:20px solid #ccc;
	border-radius:5px;
	padding:10px;
}
button{
	background:#1877f2;
	border-radius:5px;
	padding:10px 20px;
	
}
.signup{
	background:42b72a;
}
.styled-link {
      color: #1877f2;
      text-decoration: none; /* Removes the underline */
    }